    * {
        margin: 0;
        padding: 0;
    }
    .all{
        height:1000px;
        width: 100%;
    }
    body {
        width: 100%;
        height: 100%;
        /*background: url() no-repeat;*/
        background-color: #ddffdd;
        background-size: cover;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    #name, #password{
        float:right;
        position: absolute;
        right: 20px;
        line-height: 35px;
        width: 250px;
    }
    #head {
        border: 0px;
        padding: 0px;
        margin: 0px;
        height: 75px;
        width: 100%;
        background-color: #4199ee;
        opacity: 0.7px;
        position: fixed;
        box-shadow: 0px 0px 10px 0px #443333;

    }
    
    .head-content {
        border: 0;
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
    }
    .logo img{
        position: relative;
        top: -10px;
        height: 15vh;
        width: 15vw;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        padding: 0 40px;
    }
    
    .navbar ul li span {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        display: block;
        height: 5px;
        background-color: transparent;
        margin-top: 4px;
        opacity: 0;
    }
    
    .navbar ul li:hover span {
        background-color: #ff9c00;
        opacity: 1;
        margin-top: -3px;
    }
    
    .navbar ul li a {
        text-decoration: none;
        display: inline-block;
        color: #fefefe;
        height: 100%;
        font-size: 25px;
        text-shadow: 0 0 6px;
        font-width: bold;
        font-family: "Microsoft YaHei";
        line-height: 73px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        box-sizing: border-box;
    }
    .navbar ul li a:hover{
        text-shadow: 0 0 9px #dddd00;
    }
    .navbar ul li.about-btn {
        width: 70px;
        height: 70px;
        border: 0;
        position: absolute;
        top: 39px;
        right: 7vw;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        vertical-align: middle;
        line-height: 68px;
        font-size: 40px;
        cursor: pointer;
        background-color: #ff9999;
        box-shadow: 0px 0px 4px #777;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    
    .navbar ul li.about-btn:hover {
        transform: rotate(180deg);
    }
    
    .menu {
        font-size: 20px;
        position: absolute;
        top: 130px;
        right: 7vw;
        visibility: hidden;
        opacity: 0;
        padding-right: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    
    .menu div {
        text-align: right;
        box-sizing: border-box;
        padding: 5px 10px 5px 12px;
        margin-top: 10px;
        border-right: 5px solid #ff9c00;
    }

    
    .show {
        visibility: visible;
        opacity: 1;
        padding-right: 10px;
    }
    

    .forms {
        visibility: hidden;
        opacity: 0.7;
        background-color: #fff;
        box-shadow: 3px 2px 2px 2px #fdd;
        opacity: 0.7;
        position: absolute;
        top: 30vh;
        left: 32vw;
        height: 350px;
        width: 410px;
        border-radius: 15px;
        -webkit-transition: .1s;
        -o-transition: .1s;
        transition: .1s;
    }
     
    .form_font{
        display: block;
        position: absolute;
        left: 10px;
        float: left;
        line-height: 30px;
        font-size: 25px;
    }
    .form_font1{
        
        height: 30px;
        font-size: 20px;
    }
    .form_bar{
        position: relative;
        left: 60px;
        margin: 3px 0px;
        padding: 0px;
        border: 0px;
        background-color: #1AF20C;
        box-shadow: 1px 2px 3px 0px #000 ;
        color: #fefefe;
        line-height: 40px;
        width: 300px;
        font-size: 35px;
        border-radius: 3px;
    }
    .close{
        margin: 0px;
        padding: 0px;
        border: 0px;
        color: #fff;
        line-height: 42%;
        font-size: 38px;
        text-align: center;
        position: absolute;
        right: 0px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #000;
        box-shadow: 10px; 
    }
    .forms_show{
        visibility: visible;
        background-color: #fff ;
        background-color: rgba(0, 0, 0, 0.8);
    }
   #end{
       position: relative;
        bottom: 50px; 
        height: 100px;
        width: 60%;
        left: 20vw;
        bottom: 50px;
        box-shadow:0px 5px 5px -3px orange;
   }
   #end div{
        background-color: green;
        height: 100px;
        width: 80px;
        float: left;
        color: #ffff00;
        transform: .3s;
   }
   #end div:hover{
        animation: big 1s forwards; 
        transform: .3s;
        position: relative; top: -20px;
   }
   @keyframes big{
    0%:{height: 100px; width: 80px; margin-right: 0px; margin-left: 0px;}
    100%{ height: 135px; width: 110px; margin-right: 9px; margin-left: 9px;}
   }