    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    body {
        background: url() 0px 0px;
        background-size: cover;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    
    #head {
        border: 0px;
        padding: 0px;
        margin: 0px;
        height: 75px;
        width: 100%;
        background-color: #4199ee;
        position: fixed;
        box-shadow: 0px 0px 10px 0px #443333;
    }
    
    .head-content {
        border: 0;
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        padding: 0 40px;
    }
    
    .navbar ul li span {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        display: block;
        height: 5px;
        background-color: transparent;
        margin-top: 4px;
        opacity: 0;
    }
    
    .navbar ul li:hover span {
        background-color: #ff9c00;
        opacity: 1;
        margin-top: -3px;
    }
    
    .navbar ul li a {
        text-decoration: none;
        display: inline-block;
        color: #fefefe;
        height: 100%;
        line-height: 73px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        box-sizing: border-box;
    }
    
    .navbar ul li.about-btn {
        width: 70px;
        height: 70px;
        border: 0;
        position: absolute;
        top: 39px;
        right: 7vw;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        vertical-align: middle;
        line-height: 70px;
        font-size: 40px;
        cursor: pointer;
        background-color: #ff9999;
        box-shadow: 0px 0px 4px #777;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    
    .navbar ul li.about-btn:hover {
        transform: rotate(180deg);
    }
    
    .menu {
        font-size: 20px;
        position: absolute;
        top: 130px;
        right: 7vw;
        visibility: hidden;
        opacity: 0;
        padding-right: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    
    .menu div {
        text-align: right;
        box-sizing: border-box;
        padding: 5px 10px 5px 12px;
        margin-top: 10px;
        border-right: 5px solid #ff9c00;
    }

    
    .show {
        visibility: visible;
        opacity: 1;
        padding-right: 10px;
    }
    

    .forms {
        position: absolute;
        top: 100px;
        left: 80px;
    }